.portfolio {
  margin: 100px auto 107px;
}

.portfolio__list {
  padding: 0;
  margin: 0;
}

.portfolio__title {
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #A0A0A0;
  mix-blend-mode: normal;
  margin-bottom: 30px;
}

.portfolio__list-item {
  list-style-type: none;
  border-bottom: 1px solid #E8E8E8;
}

.portfolio__list-item:last-child {
  border-bottom: none
}


@media screen and (max-width: 770px) {
  .portfolio {
    margin: 91px 20px 90px;
  }
  .portfolio__title {
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 530px) {
  .portfolio {
    margin: 70px 20px 70px;
  }

  .portfolio__title {
    font-size: 14px;
    margin-bottom: 20px;
  }
}