.page {
  max-width: 1280px;
  min-width: 320px;
  min-height: 100%;
  margin: 0 auto;
  display: grid;
  background-color: #FFFFFF;
  color: #000000;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  box-sizing: border-box;
}

.page__container-small {
  max-width: 1140px;
}

.page__container-big {
  max-width: 1200px;
}

@media screen and (max-width: 770px) {
  .page {
    padding: 0 30px;
  }
}

@media screen and (max-width: 530px) {
  .page {
    padding: 0 14px;
  }
}