.title {
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.04em;
  padding: 110px 0 22px;
  margin: 0 70px;
  border-bottom: 1px solid #000000;
  background: none;
}

@media screen and (max-width: 770px) {
  .title {
    padding: 90px 0 21px;
    margin: 0 50px;
  }
}

@media screen and (max-width: 530px) {
  .title {
    font-size: 18px;
    line-height: 22px;
    padding: 70px 0 28px;
    margin: 0 18px;
  }
}