.title {
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.04em;
  padding-top: 110px;
  padding-bottom: 22px;
  margin: 0 auto;
  border-bottom: 1px solid #000000;
  background: none;
}

@media screen and (max-width: 770px) {
  .title {
    padding-top: 100px;
    padding-bottom: 21px;
    margin: 0 20px;
  }
  .title__techs {
    margin: 0 10px;
  }
}

@media screen and (max-width: 530px) {
  .title {
    font-size: 18px;
    line-height: 22px;
    padding-top: 70px;
    padding-bottom: 28px;
  }
}