.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto 15px;
  min-height: min-content;
}

@media screen and (max-width: 770px) {
  .header {
    margin: 0 0 18px;
  }
}

@media screen and (max-width: 530px) {
  .header {
    margin: 0 0 11px;
  }

  .header_margin {
    margin: 0 20px 11px;
  }
}