.filter-checkbox {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.filter-checkbox__label {
  margin-left: 14px;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
}

.filter-checkbox__switch {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 20px;
}

.filter-checkbox__switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.filter-checkbox__slider {
  position: absolute;
  cursor: pointer;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #EBEBEB;
  border-radius: 20px;
  transition: 0.4s;
}

.filter-checkbox__slider::before {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  left: 2px;
  top: 2px;
  background-color: #F5F5F5;
  border-radius: 50%;
  transition: 0.4s;
}

input:checked+.filter-checkbox__slider {
  background-color: #2BE080;
}

input:checked+.filter-checkbox__slider::before {
  transform: translateX(16px);
  background-color: white;
}