.menu {
background-color: rgba(0, 0, 0, 0.3);
width: 100%;
height: 100%;
top:0;
left: 0;
position: fixed;
z-index: 3;
}

.menu__container {
  max-width: 530px;
  height: 100vh;
  background-color: white;
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}