.links {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  margin: 0;
}

.links_open {
  display: flex;
  flex-direction: column;
}

.links__item {
  list-style-type: none;
}

.links__item:nth-of-type(2) {
  margin-right: 30px;
}

.links__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  color: black;
  margin: 0 10px;
  display: block;
}

.links__link:hover {
  opacity: 0.7;
}

.links__link_active {
  font-weight: 500;
}

.links__link_disable {
  display: none;
}

@media screen and (max-width: 770px) {
  .links {
    display: none;
  }
}