.btn-liked {
  width: 21px;
  height: 21px;
  border-radius: 50px;
  background-color: #FF3055;
  background-image: url(../../images/icon__COLOR_invisible.svg);
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  visibility: visible;
}

.btn-liked:hover {
  opacity: 0.8;
}